@page
@model TestSite.Pages.Admin.ProductsModel

@inject ApplicationDbContext context

@{
    var Products = context.Product;

    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody id="Table">
        @foreach (var i in Products)
        {
            <tr>
                <td>@i.ID</td>
                <td>@i.Code</td>
                <td>@i.Name</td>
                <td>@i.Price</td>
                <td>@i.Category</td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" id="AddProduct">Add product</button>

<div class="modal fade" id="Editor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Edit product
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">ID</label>
                    <input class="form-control" id="EditID" type="text" placeholder="There will be ID" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Code</label>
                    <input class="form-control" id="EditCode" type="text" placeholder="There will be Code" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" id="EditName" type="text" placeholder="There will be Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input class="form-control" id="EditPrice" type="text" placeholder="There will be Price" />
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <input class="form-control" id="EditCategory" type="text" placeholder="There will be Category" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete">Delete product</button>
                <button type="button" class="btn btn-primary" id="submit">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Create">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Add product
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">ID</label>
                    <input class="form-control" id="CreateID" type="text" placeholder="Create ID" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Code</label>
                    <input class="form-control" id="CreateCode" type="text" placeholder="Create Code" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" id="CreateName" type="text" placeholder="Create Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input class="form-control" id="CreatePrice" type="text" placeholder="Create Price" />
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <input class="form-control" id="CreateCategory" type="text" placeholder="Create Category" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add">Add product</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $("#submit").click(formSubmit);
        $("#delete").click(formDelete);
        $("#AddProduct").click(addProduct);
        $("#add").click(submitNewProduct);

        $("#Table").children().on("click", edit);

        function edit() {
            var caller = $(this);
            var modal = $("#Editor");

            $("#EditID").val($(caller.children()[0]).text());
            $("#EditCode").val($(caller.children()[1]).text());
            $("#EditName").val($(caller.children()[2]).text());
            $("#EditPrice").val($(caller.children()[3]).text());
            $("#EditCategory").val($(caller.children()[4]).text());

            modal.modal('show');
        }

        function addProduct() {
            $.ajax({
                url: "/controllers/admin/GenerateProductInfo",
                method: "GET",
                success: function (result) {
                    $("#CreateID").val(result.id);
                    $("#CreateCode").val(result.code);
                    $("#Create").modal("show");
                }
            });

            
        }

        function submitNewProduct() {

            var form = {
                ID: $("#CreateID").val(),
                Code: $("#CreateCode").val(),
                Name: $("#CreateName").val(),
                Price: Number($("#CreatePrice").val()),
                Category: $("#CreateCategory").val()
            };

            if (form.ID == "" || form.Code == "" || form.Name == "" || form.Price == "" || form.Category == "") {
                alert("All fields must be filled!");
                return false;
            }

            if (isNaN(form.Price) || !Number.isInteger(form.Price)) {
                alert("Invalid Price! Price must be a number!");
                return false;
            }

            $.ajax({
                url: "/controllers/admin/AddProduct",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(form),
                success: function () { $("#Create").modal("hide"); location.reload(); }
            });

            return true;
        }

        function formSubmit() {

            var form = {
                ID: $("#EditID").val(),
                Code: $("#EditCode").val(),
                Name: $("#EditName").val(),
                Price: Number($("#EditPrice").val()),
                Category: $("#EditCategory").val()
            };

            if (form.ID == "" || form.Code == "" || form.Name == "" || form.Price == "" || form.Category == "")
            {
                alert("All fields must be filled!");
                return false;
            }

            else if (isNaN(form.Price) || !Number.isInteger(form.Price)) {
                alert("Invalid Price! Price must be a number!");
                return false;
            }

            $.ajax({
                url: "/controllers/admin/UpdateProduct",
                method: "PUT",
                contentType: "application/json",
                data: JSON.stringify(form),
                success: function () { location.reload(); }
            });

            return true;
        }

        function formDelete() {
            $.ajax({
                url: "/controllers/admin/DeleteProduct?id=" + $("#EditID").val(),
                method: "DELETE",
                success: function () { location.reload(); }
            });

            
        }

    </script>
} 